<div>
	<div style="font-size: 18px;"> Background information: </div>
	<ul style="font-size: 12px; color: #444444;">
		<li>
			<b>BaltiCheck (2018-2019)</b>: this project aimed to update the previous Checklist of Baltic Sea species (Checklist 2.0) and to make data about species and their spatiotemporal distribution within the Baltic Sea available via a biodiversity database and associated web application. Data attributed to this project are from the BaltiCheck data call, which was initiated December 2018.
			More information about the project can be found here: <a href="http://www.helcom.fi/helcom-at-work/projects/balticheck/" target="_blank">http://www.helcom.fi/helcom-at-work/projects/balticheck/</a>
		</li>
		<br/>
		<li>
			<b>HELCOM Red List (2013)</b>: Data attributed to this project are from the first threat assessment of Baltic Sea species (2013) based on the IUCN criteria. The pointwise observation data were either restricted or the data use conditions were unspecified, thus permission for publication of pointwise data   was retrieved from participating Baltic Sea countries during the BaltiCheck project. More information can be found under the following links:<br/>
			<a href="http://www.helcom.fi/helcom-at-work/projects/completed-projects/red-list/" target="_blank">http://www.helcom.fi/helcom-at-work/projects/completed-projects/red-list/</a><br/>
			<a href="http://www.helcom.fi/Lists/Publications/BSEP140.pdf" target="_blank">http://www.helcom.fi/Lists/Publications/BSEP140.pdf</a>
		</li>
		<br/>
		<li>
			<b>HELCOM Checklist project (2012)</b>: Data attributed to this project are from the first Checklist of Baltic Sea Macro-species (2012). Data attributed to this project were from available open data sources. More information can be found under the following links:<br/>
			<a href="http://www.helcom.fi/helcom-at-work/projects/completed-projects/red-list/" target="_blank">http://www.helcom.fi/helcom-at-work/projects/completed-projects/red-list/</a><br/>
			<a href="http://www.helcom.fi/Lists/Publications/BSEP130.pdf" target="_blank">http://www.helcom.fi/Lists/Publications/BSEP130.pdf</a>
		</li>
		<br/>
		<li>
			<b>HELCOM FISH-PRO – Coastal fish monitoring data:</b> Data stemming from HELCOM coastal fish monitoring and compiled to HELCOM Coastal fish core indicator database (COOL). Data has been compiled and quality assured annually by HELCOM FISH-PRO group. Data obtained to species database from COOL was observations of perch, flounder or cod.<br/>
			<a href="http://www.helcom.fi/helcom-at-work/projects/fish-pro" target="_blank">http://www.helcom.fi/helcom-at-work/projects/fish-pro</a><br/>
			<a href="http://bio.helcom.fi/coastalfish" target="_blank">http://bio.helcom.fi/coastalfish</a>
		</li>
		<br/>
		<li>
			<b>HELCOM/ASCOBANS Harbour porpoise database</b>: HELCOM countries agreed in 2007 to further develop in co-operation with the 1991 Agreement on the Conservation of Small Cetaceans of the Baltic and North Seas (ASCOBANS) a coordinated reporting system and database on Baltic harbour porpoise sightings, by-catches and strandings. Data was collected originally in 2004 within the Baltic Sea Porpoise and Jastarnia projects. The original database was funded by the Federal Agency for Nature Conservation, Germany, and the data was updated in HELCOM Secretariat in 2010 with financial support from UNEP/ASCOBANS. Since then, the database has been updated annually by HELCOM Expert Group on Marine Mammals (EG MAMA). Pointwise observations on harbour porpoises are included in HELCOM Species database.<br/>
			<a href="http://www.helcom.fi/helcom-at-work/groups/state-and-conservation/eg-mama/" target="_blank">http://www.helcom.fi/helcom-at-work/groups/state-and-conservation/eg-mama/</a>
		</li>
		<br/>
		<li>
			<b>HELCOM/OSPAR Join Ballast Water Decision support tool</b>: Based on the overall IMO framework the 21 Baltic and North-East Atlantic coastal states and EU have developed and agreed in 2013 on a detailed joint harmonised procedure (JHP) to defining “low risk” routes, as well as other necessary steps in granting exemptions under regulation A-4 of the IMO Ballast Water Management Convention. This has been done as a joint venture between the two regional seas commissions HELCOM and OSPAR.
			The port sampling data on phytoplankton, zooplankton, mobile epifauna, fouling, benthos and pathogens reported to the HELCOM/OSPAR Join Ballast Water Decision support tool (RA Tool) are included in the HELCOM Species database. The observations are thus distributed partly in OSPAR area and outside HELCOM marine area. HELCOM Species database will also be further developed to serve the update of the risk assessment tool carried out in COMPLETE project WP3 (2017-2020).<br/>
			<a href="http://www.helcom.fi/helcom-at-work/projects/complete/" target="_blank">http://www.helcom.fi/helcom-at-work/projects/complete/</a><br/>
			<a href="http://jointbwmexemptions.org/ballast_water_RA/apex/f?p=104:13" target="_blank">http://jointbwmexemptions.org/ballast_water_RA/apex/f?p=104:13</a>
		</li>
		<br/>
		<li>
			<b>HOLAS I – HELCOM Initial Holistic Assessment 2010</b>: Species observation data collected for HELCOM Initial Holistic Assessment 2010 (HOLAS I) has been included in the species database. The data consists of Zostera observations collected for the first version of Baltic Sea Pressure Index (BSPI).<br/>
			<a href="http://www.helcom.fi/Lists/Publications/BSEP122.pdf" target="_blank">http://www.helcom.fi/Lists/Publications/BSEP122.pdf</a>
		</li>
		<br/>
		<li>
			<b>HOLAS II – HELCOM State of the Baltic Sea report 2018</b>: Species observation data collected for HELCOM State of the Baltic Sea report 2018 (HOLAS II) has been included in the species database. The data consists of observation data used for seal and bird indicators.<br/>
			<a href="http://stateofthebalticsea.helcom.fi/" target="_blank">http://stateofthebalticsea.helcom.fi/</a><br/>
			<a href="http://stateofthebalticsea.helcom.fi/biodiversity-and-its-status/" target="_blank">http://stateofthebalticsea.helcom.fi/biodiversity-and-its-status/</a>
		</li>
		<br/>
	</ul>
</div>
