<div>
	<div>
		<div style="font-size: 18px;"> Datasets for download </div>
		<div style="font-size: 12px; color: #444444;">
			By consulting and/or downloading data from HELCOM’s Biodiversity database, the user agrees to the following: The data can be used freely, given that each dataset is cited appropriately and HELCOM’s Biodiversity database is referred to maps.helcom.fi/website/biodiversity
			<br/><br/>
			Please note that your applied search filters will not affect the three datasets provided below. The taxonomy in this database is based on one of the international databases (WoRMS&gt; ITIS&gt; BioLib&gt; others), which is noted in the id section. Species with an existing Aphia ID retrieve their taxonomy entries via a customised script to <a href="http://www.marinespecies.org/index.php" target="_blank">WoRMS</a>.
			<br/><br/>
			The coordinate system for species observation data is WGS1984 (EPSG:4326)
			<br/><br/>
		</div>
	</div>

	<div style="margin-top: 10px;">
		<span style="font-size: 14px; margin-top: 10px;"> Observations data </span>
		<a class="downloadButton" style="margin-left: 10px;" href="http://metadata.helcom.fi/geonetwork/srv/eng/resources.get?uuid=16d893d7-f8a6-4e56-a440-8f68d187551a&fname=observations_download.gdb.zip&access=public">ESRI Geodatabase (ZIP)</a>
		<div style="font-size: 12px; color: #444444;">
			The file geodatabase contains all observations data in the HELCOM Biodiversity database (both pointwise and gridded observations).
		</div>
	</div>

	<div style="margin-top: 10px;">
		<span style="font-size: 14px; margin-top: 10px;"> Species data </span>
		<a class="downloadButton" style="margin-left: 10px;" href="http://metadata.helcom.fi/geonetwork/srv/eng/resources.get?uuid=16d893d7-f8a6-4e56-a440-8f68d187551a&fname=species.csv&access=public">CSV</a>
		<div style="font-size: 12px; color: #444444;">
			CSV dataset contains species with their taxonomic information. The data are updated via a taxonomy script that extracts the information from WoRMS. The goal is to have all species included in WoRMS in the future.”
		</div>
	</div>

	<div style="margin-top: 10px;">
		<span style="font-size: 14px; margin-top: 10px;"> Red list information data </span>
		<a class="downloadButton" style="margin-left: 10px;" href="http://metadata.helcom.fi/geonetwork/srv/eng/resources.get?uuid=16d893d7-f8a6-4e56-a440-8f68d187551a&fname=species_with_redlist_category.csv&access=public">CSV</a>
		<div style="font-size: 12px; color: #444444;">
			CSV dataset contains Red list information about species and their assessment at HELCOM based on the IUCN red list criteria.
		</div>
	</div>

</div>
