<div>
	<div style="font-size: 18px;"> Quick search tips: </div>
	<ul style="font-size: 12px; color: #444444;">
		<li>Use the “Select map area” tool to limit your search to a specific geographical area</li>
		<li>Use filters to limit your search to a specific species (latin name), year, institution, and collection code (i.e. project)</li>
		<li>The search results will be displayed as point observations (i.e. circles) or as grids (i.e. squares). Circles are point observations for which precise coordinates are available. Rectangles are observations for which precise coordinates are not publicly available. The used grids are 1, 2, 5 or 10 km<sup>2</sup></li>
		<li>
			Click on the circle or rectangle for more information on the observation. To navigate between different observations at the same location use the arrow on top of the info box
			<div id="infoBoxHelp"></div>
		</li>
		<li>After your first search, you can choose the option “Update search” to keep your current search settings and adjust them</li>
		<li>Afterwards you can use the “Reset filters” to delete all your current search filters</li>
		<li>For a new search, choose “Update search” and then “Reset filters”</li>
		<li>Please note: some project data occur outside the Baltic Sea. If you wish to search for data only within the Baltic Sea, please use the “Select map area” function</li>
	</ul>
</div>
